{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container">
    <div class="container d-flex align-items-center flex-column pt-2">
        <h1>Gestion des jurys de L3 GMA</h1>

    </div>




    <div class="col mx-auto text-center mb-3">

        {% if user.is_authenticated %}
        <h3>Connecté sous {{ user.username }}</h3>
        {% else %}

        <a class="btn btn-primary" href="{% url 'comptes:login' %}" role="button">Login</a>
        {% endif %}
    </div>

</div>

{% endblock content %}