{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="p-5 ">
    <div class="container">
        <h2>Inscription matières de {{ templatedata.etudiant.genre }}
            {{ templatedata.etudiant.nom }} {{templatedata.etudiant.prenom }}</h2>
        <h2>Année universitaire : {{ templatedata.annee.anneeuniv }}</h2>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Valider</button>
        </form>
    </div>
</div>

{% endblock content %}