{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="p-3">
    <div class="container">
        <div class="row mt-3">
            <div class="col mx-auto mb-3">
                <h2> {{ templateData.matiere.codeapogee }} : {{ templateData.matiere.nom }}</h2>
                <h2>{{ templateData.etudiant.nom }} {{ templateData.etudiant.prenom }}</h2>
                <hr />
            </div>
        </div>
        <div class="row">
            <h1>Entrez les notes de CC</h1>
            <form method="post">
                {% csrf_token %}
                {{ notesCCform.as_p }}
                <button type="submit">Entrez</button>
            </form>


        </div>


    </div>



</div>
{% endblock content %}