<nav class="navbar fixed-bottom navbar-light bg-light">
    <div class="container">



        <div class="btn-group dropup">
            <button type="button" class="btn btn-secondary">
                Notes excel
            </button>
            <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split"
                data-bs-toggle="dropdown" aria-expanded="false">

                <span class="visually-hidden">menu admin 1</span>
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'matiere:listematexcel' sem='S5' %}">Matières S5</a></li>

                <li><a class="dropdown-item" href="{% url 'matiere:listematexcel' sem='S6' %}">Matières S6</a></li>
            </ul>
        </div>

        <div class="btn-group dropup">
            <button type="button" class="btn btn-secondary">
                Jury admin S5
            </button>
            <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split"
                data-bs-toggle="dropdown" aria-expanded="false">

                <span class="visually-hidden">menu admin 1</span>
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item"
                        href="{% url 'adminjury:calculmoyennesemestre' sem='S5' alt='nonalt'  %}">Calcul moyenne
                        matières
                        S5 Non Alternants</a></li>
                <li><a class="dropdown-item" href="{% url 'adminjury:calculsemestre' sem='S5' alt='nonalt'  %}">Calcul
                        moyenne S5 Non Alternants</a></li>
                <li><a class="dropdown-item"
                        href="{% url 'adminjury:calculmoyennesemestre' sem='S5' alt='alt'  %}">Calcul moyenne matières
                        S5 Alternants</a></li>
                <li><a class="dropdown-item" href="{% url 'adminjury:calculsemestre' sem='S5' alt='alt'  %}">Calcul
                        moyenne S5 Alternants</a></li>
            </ul>
        </div>
        <div class="btn-group dropup">
            <button type="button" class="btn btn-secondary">
                Jury admin S6
            </button>
            <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split"
                data-bs-toggle="dropdown" aria-expanded="false">

                <span class="visually-hidden">menu admin 2</span>
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item"
                        href="{% url 'adminjury:calculmoyennesemestre' sem='S6' alt='nonalt'  %}">Calcul moyenne
                        matières
                        S6 Non Alternants</a></li>
                <li><a class="dropdown-item" href="{% url 'adminjury:calculsemestre' sem='S6' alt='nonalt'  %}">Calcul
                        moyenne S6 Non Alternants</a></li>
                <li><a class="dropdown-item"
                        href="{% url 'adminjury:calculmoyennesemestre' sem='S6' alt='alt'  %}">Calcul moyenne matières
                        S6 Alternants</a></li>
                <li><a class="dropdown-item" href="{% url 'adminjury:calculsemestre' sem='S6' alt='alt'  %}">Calcul
                        moyenne S6 Alternants</a></li>
            </ul>
        </div>
        <div class="btn-group dropup">
            <button type="button" class="btn btn-secondary">
                Gestion etudiant
            </button>
            <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split"
                data-bs-toggle="dropdown" aria-expanded="false">

                <span class="visually-hidden">menu admin 3</span>
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'etudiant:addetudiant' %}">Nouvel étudiant</a></li>
                <li><a class="dropdown-item" href=" {% url 'etudiant:addinscriptiondipl' %} ">Inscription diplome</a>
                <li><a class="dropdown-item" href=" {% url 'etudiant:indexetudiantadmin' %} ">Liste etudiant pour
                        insciption matières</a>
                </li>
            </ul>
        </div>
    </div>
</nav>