<table class="table">
    <thead>
        <tr>
            <th scope="col">Code</th>
            <th scope="col">Matière</th>
            <th scope="col">Note CC1</th>
            <th scope="col">Note CC2</th>
            <th scope="col">Note CC3</th>
            <th scope="col">Moyenne</th>
            <th scope="col">Statut</th>
            <th scope="col">ADJ</th>
            <th scope="col">Rang</th>
            <th scope="col">Année universitaire</th>

        </tr>
    </thead>
    <tbody>

        {% for inscritmat in templateData.listeinscritmat %}
        {% if inscritmat.moyenne is None %}
        <tr>
            {% elif inscritmat.moyenne >= 10 %}
        <tr class="table-success">
            {% elif inscritmat.moyenne >= 7 %}
        <tr class="table-warning">
            {% else %}
        <tr class="table-danger">
            {% endif %}
            <th scope="row">
                <a class="btn btn-success btn-sm"
                    href="{% url 'matiere:editnotes' inscritmat.matiere.codeapogee inscritmat.etudiant.id %}"
                    role="button">
                    {{ inscritmat.matiere.codeapogee }}
                </a>
            </th>
            <td>{{ inscritmat.matiere.nom }}</td>
            <td>{{ inscritmat.notecc1|floatformat:2 }}</td>
            <td>{{ inscritmat.notecc2|floatformat:2 }}</td>
            <td>{{ inscritmat.notecc3|floatformat:2 }}</td>
            <td><strong>{{ inscritmat.moyenne|floatformat:2}}</strong></td>
            <td>{{ inscritmat.statut }}
                {% if inscritmat.statut == 'ADJ' %}
                {{ inscritmat.decisionmat|date:"SHORT_DATE_FORMAT" }}
                {% endif %}
            </td>
            <td>{% if inscritmat.statut == "AJ" %}
                <a class="btn btn-success"
                    href="{% url 'jury:decisionmat' inscritmat.etudiant.id  inscritmat.matiere.id %}"
                    role="button">ADJ</a>
                {% endif %}
            </td>
            <td>{{ inscritmat.rang }}</td>

            <td>{{ inscritmat.anneeuniv.anneeuniv }}</td>
        </tr>
        {% endfor %}

    </tbody>
</table>